/*########## Imports ##########*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes anim-loading-loader {
  0% {
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}
@keyframes anim-loading-loader {
  0% {
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@-webkit-keyframes anim-loading-loader-icon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes anim-loading-loader-icon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anim-loading-content {
  0% {
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes anim-loading-content {
  0% {
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes anim-menu-choice-checked {
  0% {
    -webkit-transform: translateX(10px) rotate(0deg);
            transform: translateX(10px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(360deg);
            transform: translateX(0px) rotate(360deg);
  }
}

@keyframes anim-menu-choice-checked {
  0% {
    -webkit-transform: translateX(10px) rotate(0deg);
            transform: translateX(10px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(360deg);
            transform: translateX(0px) rotate(360deg);
  }
}

@-webkit-keyframes anim-menu-choice-fade-in {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes anim-menu-choice-fade-in {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  min-inline-size: 0;
}

p {
  font-size: 17px;
  font-weight: 400;
}

strong {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/*Name of the menu in its own page*/
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 28px;
  padding: 0;
  margin: 0;
}

/*Name of a part of the site*/
h2 {
  font-size: 22px;
  font-weight: 700;
}

/*Name of a food category*/
h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

/*Name of the menu in the index*/
h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  background-color: #EAEAEA;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}

.header-back {
  position: absolute;
  left: 14px;
  top: 55%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px;
  height: 40px;
}

.header-back a {
  width: 100%;
  height: 100%;
}

.header-back a:hover i {
  color: white;
  background-color: #353535;
}

.header-back a i {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
  background-color: white;
  border-radius: 90px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.header img {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 200px;
  width: 40%;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: auto;
}

.footer-img {
  margin-left: 6%;
  -webkit-filter: brightness(100);
          filter: brightness(100);
  max-width: 100px;
  width: 35%;
  margin-top: 20px;
  margin-bottom: 14px;
}

.footer-links {
  padding-left: 6%;
  padding-bottom: 24px;
}

.footer-links a:hover i, .footer-links a:hover strong {
  color: #FF79DA;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links li strong {
  color: white;
}

.footer-links li i {
  color: white;
  margin-right: 8px;
}

.button__main {
  position: relative;
  background-image: linear-gradient(-5deg, #9356DC, #FF79DA);
  border: none;
  border-radius: 40px;
  overflow: hidden;
  width: 0%;
  max-width: 400px;
  -webkit-box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.button__main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.0;
  z-index: -1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button__main:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}

.button__main:hover::after {
  opacity: 0.15;
}

.button__main a {
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.button__main p {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 6px;
  margin-right: 6px;
}

.button__main strong {
  text-align: center;
  color: white;
}

.button__like {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__like:hover {
  cursor: pointer;
}

.button__like:hover .button__like-full {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button__like:active .button__like-full {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.button__like-border {
  font-size: 24px;
}

.button__like-full {
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 1000ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: all 1000ms cubic-bezier(0, 0.9, 0.1, 1);
}

/*########## Tablet and smartphone ##########*/
/*##################### LOADING #####################*/
#page_loading {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-animation: anim-loading-loader 0ms ease 1800ms forwards;
          animation: anim-loading-loader 0ms ease 1800ms forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page_loading img {
  min-width: 220px;
  width: 20vw;
  margin-bottom: 5vh;
}

#page_loading i {
  color: #9356DC;
  font-size: 8vh;
  -webkit-animation: anim-loading-loader-icon 1000ms linear infinite both;
          animation: anim-loading-loader-icon 1000ms linear infinite both;
}

#page_content {
  -webkit-transform: translateX(-9999px);
          transform: translateX(-9999px);
  -webkit-animation: anim-loading-loader 0ms ease 1800ms forwards;
          animation: anim-loading-loader 0ms ease 1800ms forwards;
  -webkit-animation-name: anim-loading-content;
          animation-name: anim-loading-content;
}

/*##################### LOCATION #####################*/
#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
}

#location strong {
  color: #353535;
}

#location i {
  color: #353535;
  font-size: 16px;
  margin-right: 12px;
}

/*##################### PRESENTATION #####################*/
#presentation {
  background-color: #F6F6F6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#presentation > h2 {
  width: 60%;
  text-align: center;
  margin-top: 38px;
}

#presentation > p {
  color: #353535;
  width: 85%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.button__main {
  width: 65%;
  margin-bottom: 48px;
}

/*##################### TUTORIAL #####################*/
#tutorial {
  background-color: #FFF;
}

#tutorial ol {
  width: 100%;
  list-style-type: decimal;
  list-style-position: inside;
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-bottom: 36px;
}

#tutorial ol li {
  position: relative;
  left: 10px;
  width: calc(100% - 10px);
  height: 64px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  background-color: #F6F6F6;
  counter-increment: my-awesome-counter;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#tutorial ol li:hover {
  /*cursor: pointer;*/
}

#tutorial ol li:hover i {
  color: #9356DC;
}

#tutorial ol li:hover::after {
  opacity: 0.2;
}

#tutorial ol li::before {
  content: counter(my-awesome-counter);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

#tutorial ol li::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  opacity: 0.0;
  z-index: -1;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#tutorial ol li i {
  position: absolute;
  left: 20px;
  font-size: 15px;
  color: #7E7E7E;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#tutorial ol li p {
  position: absolute;
  left: 55px;
  margin-right: 8px;
}

/*##################### RESTAURANTS #####################*/
#restaurants {
  background-color: #F6F6F6;
}

#restaurants ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.tag__new::before {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5px;
  z-index: 2;
  font-size: 15px;
  padding: 9px;
  padding-left: 14px;
  padding-right: 14px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.restaurant {
  position: relative;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.restaurant:hover {
  -webkit-box-shadow: 0px 5px 16px #99E2D0;
          box-shadow: 0px 5px 16px #99E2D0;
}

.restaurant:hover .restaurant-thumbnail-content {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.restaurant-thumbnail {
  position: relative;
  width: 100%;
  height: 185px;
  overflow: hidden;
}

.restaurant-thumbnail-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.restaurant-body {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 14px;
  padding-right: 52.8px;
}

.restaurant-body h4, .restaurant-body p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.restaurant .button__like {
  position: absolute;
  right: 18px;
  top: 203px;
}

/*##################### COMMON #####################*/
.index_category {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.index_category > h2 {
  margin-top: 42px;
  margin-bottom: 24px;
}

/*########## Desktop only ##########*/
@media screen and (min-width: 992px) {
  .index_category {
    padding-left: 25%;
    padding-right: 25%;
  }
  #restaurants ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurant {
    width: 32%;
  }
  .restaurant-thumbnail {
    height: 225px;
  }
  .restaurant .button__like {
    top: 243px;
  }
}
/*# sourceMappingURL=style_index.css.map */