/*##################### LOADING #####################*/
#page-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateX(0px);
    animation: $loading-animation-propreties;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img{
        min-width: 200px;
        width: 18vw;
        margin-bottom: 4vh;
    }
    i{
        color: $color-primary;
        font-size: 8vh;
    }
}
#page-content{
    transform: translateX($loading-translate-max);
    animation: $loading-animation-propreties;
    animation-name: anim-loading-content;
}
/*##################### LOCATION #####################*/
#location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    strong{
        color: $color-dark;
    }
    i{
        color: $color-dark;
        font-size: 16px;
        margin-right: 12px;
    }
}
/*##################### PRESENTATION #####################*/
#presentation{
    background-color: $color-special-background;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>h2{
        width: 60%;
        text-align: center;
        margin-top: 38px;
    }
    &>p{
        color: $color-dark;
        width: 85%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 24px;
    }
}
/*##################### TUTORIAL #####################*/
#tutorial{
    background-color: $color-common-background;
    ol{
        width: 100%;
        list-style-type: decimal;
        list-style-position: inside;
        list-style: none;
        counter-reset: my-awesome-counter;
        margin-bottom: 36px;
        li{
            position: relative;
            left: 10px;
            width: calc(100% - 10px);
            height: 64px;
            border-radius: 15px;
            box-shadow: 0px 5px 10px $color-shadow-2;
            background-color: $color-special-background;
            counter-increment: my-awesome-counter;
            margin-bottom: 22px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            z-index: 1;
            &:hover{
                cursor: pointer;
                i{
                    color: $color-primary;
                }
                &::after{
                    opacity: 0.2;
                }
            }
            &::before {
                content: counter(my-awesome-counter);
                transform: translateX(-10px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
                font-size: 12px;
                background-color: $color-primary;
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }
            &::after{
                content: "";
                border-radius: inherit;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $color-primary;
                opacity: 0.0;
                z-index: -1;
                transition: $tutorial-transition-propreties;
            }
            i{
                position: absolute;
                left: 20px;
                font-size: 15px;
                color: $color-dark-2;
                margin-left: 3px;
                margin-right: 3px;
                transition: $tutorial-transition-propreties;
            }
            p{
                position: absolute;
                left: 55px;
                margin-right: 8px;
            }
        }
    }
}
/*##################### RESTAURANTS #####################*/
#restaurants{
    background-color: $color-special-background;
    ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 36px;
    }
}
.tag-new{
    &::before{
        content: "Nouveau";
        background-color: $color-tertiary;
        color: darken($color-tertiary,35%);
        border-radius: 5px;
        z-index: 2;
        font-size: 15px;
        padding: 9px;
        padding-left: 14px;
        padding-right: 14px;
        position: absolute;
        top: 12px;
        right: 12px;
    }
}
.restaurant{
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 10px $color-shadow-2;
    overflow: hidden;
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: $restaurant-transition-propreties;
    &:hover{
        box-shadow: 0px 5px 16px $color-tertiary;
        .restaurant-thumbnail{
            &-content{
                transform: scale(1.15);
            }
        }
    }
    &-thumbnail{
        position: relative;
        width: 100%;
        height: 185px;
        overflow: hidden;
        &-content{
            width: 100%;
            height: 100%;
            object-fit : cover;
            transform: scale(1);
            transition: $restaurant-transition-propreties;
        }
    }
    &-body{
        position: relative;
        text-align: left;
        width: 100%;
        padding: 14px;
        padding-right: $like-button-size*2.2;
        h4,p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .button-like{
        position: absolute;
        right: 18px;
        top: 18px;
    }
}
/*##################### COMMON #####################*/
.index-category{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &>h2{
        margin-top: 42px;
        margin-bottom: 24px;
    }
}
/*##################### MODIFIERS #####################*/
.main-button{
    width: 65%;
    margin-bottom: 48px;
}