@keyframes anim-loading-loader{
    0%{
        
    }
    100%{
        transform: translateX($loading-translate-max);
    }
}
@keyframes anim-loading-content{
    0%{
        
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes anim-menu-choice-checked{
    0%{
        transform: translateX(10px) rotate(0deg);
    }
    100%{
        transform: translateX(0px) rotate(360deg);
    }
}
@keyframes anim-menu-choice-fade-in{
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}