$width-desktop-min : 992px;
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-common-background : #FFF;
$color-special-background : #F6F6F6;
$color-dark : #353535;
$color-shadow : rgba(0, 0, 0, 0.3);
$size-text-default : 13px;