$width-desktop-min : 992px;
$page-padding-desktop : 25%;
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-common-background : #FFF;
$color-special-background : #F6F6F6;
$color-dark : #353535;
$color-dark-2 : #7E7E7E;
$color-shadow : rgba(0, 0, 0, 0.4);
$color-shadow-2 : rgba(0, 0, 0, 0.12);
$size-text-default : 13px;
$size-menu-category-text : 16px;
$height-restaurant-thumbnail : 185px;
$height-restaurant-thumbnail-desktop : 225px;
$border-menu-size : 50px;
$menu-checkbox-height : 64px;
$main-button-transition-propreties : all 200ms ease;
$tutorial-transition-propreties : all 150ms ease-out;
$restaurant-transition-propreties : all 250ms ease;
$like-button-transition-propreties : all 1000ms cubic-bezier(0,0.9,0.1,1.0);
$like-button-size: 24px;
$loading-translate-max: -9999px;
$loading-duration: 1800ms;
$loading-animation-propreties: anim-loading-loader 0ms ease $loading-duration forwards;
$menu-choice-checked-animation-duration : 600ms;