$width-desktop-min : 992px;
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-common-background : #FFF;
$color-special-background : #F6F6F6;
$color-dark : #353535;
$color-dark-2 : #7E7E7E;
$color-shadow : rgba(0, 0, 0, 0.3);
$color-shadow-2 : rgba(0, 0, 0, 0.12);
$size-text-default : 13px;
$main-button-transition-propreties : all 160ms ease;
$main-tutorial-transition-propreties : all 200ms ease-out;