.button__main{
    position:relative;
    background-image: linear-gradient(-5deg, $color-primary, $color-secondary);
    border: none;
    border-radius: 40px;
    overflow: hidden;
    width: 0%;
    max-width: 400px;
    box-shadow: 0px 6px 9px $color-shadow;
    transition: $main-button-transition-propreties;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.0;
        z-index: -1;
        transition: $main-button-transition-propreties;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
        &::after{
            opacity: 0.15;
        }
    }
    a{
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    p{
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 6px;
        margin-right: 6px;
    }
    strong{
        text-align: center;
        color: white;
    }
}
.button__like{
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
        .button__like-full{
            transform: scale(1.1);
        }
    }
    &:active{
        .button__like-full{
            transform: scale(1.7);
        }
    }
    &-border{
        font-size: $like-button-size;
    }
    &-full{
        transform: scale(0);
        font-size: $like-button-size;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
        background:-moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
        background: -webkit-linear-gradient(top, $color-primary 0%, $color-secondary 100%); 
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        transition: $like-button-transition-propreties;
    }
}